<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>Home - Emerge</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'stylesheet.css' %}">
</head>
<header class="header">
    <img src="{% static 'images/ara_logo.png' %}" alt="Emerge Logo">
    <h1>Emerge Exhibition</h1>
</header>

<body class="home-body">
    <nav class="navbar navbar-light">
        <a href="{% url 'home' %}" class="navbar-link btn-lg">Home</a>
        <a href="{% url 'about' %}" class="navbar-link btn-lg">About</a>
        <a href="{% url 'emerge' %}" class="navbar-link btn-lg">Emerge Projects</a>
        <a href="{% url 'admin:index' %}" class='navbar-link btn-lg'>Admin</a>
        <!-- <a href="{% url 'upload-project' %}" class="navbar-link btn-lg">Upload Projects</a> -->
    </nav>
    
    <div class="container mt-4">
        <h1 class="display-4 text-center welcome-title">Welcome to the Emerge Exhibition</h1>
        <p class="lead text-center welcome-description">
            Emerge is an exhibition displaying projects students have done with industry as a part of their final semester.
            During this exhibition students will present what they have done for their project and discss in more detail the process their project used.
            <br>Discover innovative projects from our talented students!
        </p>
        <img src="{% static 'images/emerge_event.jpg' %}" alt="Emerge Event" class="event-image">
    </div>
</body>
</html>
