<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>About Us - Emerge</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'stylesheet.css' %}">
</head>
<header class="header">
    <img src="{% static 'images/ara_logo.png' %}" alt="Emerge Logo">
    <h1>Emerge Exhibition</h1>
</header>
<body class="about-body">
    <nav class="navbar navbar-light">
        <a href="{% url 'home' %}" class="navbar-link btn-lg">Home</a>
        <a href="{% url 'about' %}" class="navbar-link btn-lg">About</a>
        <a href="{% url 'emerge' %}" class="navbar-link btn-lg">Emerge Projects</a>
        <a href="{% url 'admin:index' %}" class='navbar-link btn-lg'>Admin</a>
        <a href="{% url 'upload-project' %}" class="navbar-link btn-lg">Upload Projects</a>
    </nav>

    <div class="container mt-4">
        <h1 class="display-4 text-center about-title">About Emerge Exhibition</h1>
        <p class="lead about-description">The Emerge Exhibition showcases the outstanding projects developed by our students during their academic journey. Our aim is to provide a platform where innovation meets creativity, encouraging students to share their work with the community.</p>
        <p class="about-description">We believe in fostering a collaborative environment where ideas can flourish and inspire others. Join us in celebrating the talents and hard work of our students!</p>
        <h2>Where Emerge Is Held</h2>
        <p> to do</p>
        <h2>When Emerge Is Held</h2>
        <p>To do: Twice a year, once a semester - more detail</p>
    </div>
</body>
</html>
