/* styles.css */

/* General body styles */
body {
    background-color: rgb(12, 88, 110);
    color: #FFFFFF;
}

/* Navbar styles */
.navbar {
    background-color: #00ff62;
}

.navbar a {
    background-color: #FFCC33;
    color: #000000;
    border-width: 10px;
    border-color: #FFCC33;
    border-style: solid;
    border-radius: 5px;
}

/* Card styles */
.card {
    width: 32rem;
    margin: 10px; /* Space between cards */
}

.card-title {
    color: #FFCC33;
}

.card-text {
    color: #FFFFFF;
}

/* Button styles */
.btn-warning {
    background-color: #FFCC33;
    color: #000000;
}

.btn-info {
    background-color: #17a2b8; /* Bootstrap info button color */
}

/* Centered content */
.center {
    text-align: center;
}

/* Upload form styles */
.upload-table {
    border-radius: 10px;
    background-color: #FFFF99;
}

.upload-title {
    background-color: #000;
    color: #FFFF99;
}
